/* General Styles */
body {
    font-family: 'Syne', sans-serif;
}
header {
    background: #f8f9fa;
}
footer {
    background: #343a40;
    color: white;
    padding: 20px 0;
}
#home {
    background: rgb(233, 247, 250);
    padding: 150px 0; /* Increased padding for more space */
}
#services {
    background: #f1f1f1;
    padding: 120px 0; /* Increased padding for more space */
}
#about {
    background: #fff;
    padding: 120px 0; /* Increased padding for more space */
}
#contact {
    background: #f8f9fa;
    padding: 120px 0; /* Increased padding for more space */
}
.btn-custom {
    background-color: #007bff;
    color: white;
    border-radius: 50px;
    padding: 10px 30px;
}
.btn-custom:hover {
    background-color: #0056b3;
}

/* Navbar Customization */
.navbar {
    background-color: black;
}

.navbar-nav .nav-link {
    color: white !important;
    font-weight: bold;
}

/* Mobile Navbar Dropdown Customization */
.navbar-toggler {
    border-color: white;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.about-icon {
    font-size: 150px; /* Adjust the size of the icon */
    color: #007bff;   /* Icon color */
    margin: 0 auto;
}
/* Template Section Styling */
#templates {
    background-color: #f8f9fa;
}

.template-card {
    width: 100%;
    max-width: 250px; /* Limit max-width for better responsiveness */
    transition: transform 0.3s ease;
}

.template-card img {
    border-radius: 10px; /* Add some subtle rounding */
}

/* Scaling effect on hover */
.template-card:hover {
    transform: scale(1.05);
}

/* Carousel control icons styling */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

/* Adjust font size for templates */
#templates h4 {
    font-size: 1.5rem;
    margin-top: 15px;
}


/* Media Query for Mobile */
@media (max-width: 992px) {
    .about-icon {
        font-size: 200px; /* Larger size for bigger screens */
    }
    .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
    }

    .navbar-nav {
        width: 100%;
        background-color: black;
        text-align: center;
    }

    .navbar-nav .nav-link {
        padding: 10px;
        border-bottom: 1px solid white;
        background-color: white;
        color: black !important; /* Changes menu item color on mobile */
    }
}
